div.cardBox {
  width: 80vw;
  justify-self: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 5rem;
  grid-auto-flow: row dense;
  justify-content: center;
}

div.offsetter {
  width: 100%;
  grid-column-start: 3;
  grid-column-end: span 2;
  grid-row-end: span 1;
}

sp-card {
  width: fit-content;
  height: 50%;
}
div.cardItem {
  margin: auto;
  width: 100%;
  grid-column-end: span 2;
  grid-row-end: span 2;
}

iconify-icon {
  color: var(--sl-color-accent);
}
