<!doctype html>
<html
  lang="en"
  class="spectrum spectrum--medium spectrum--light medium light spectrum-Typography"
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Test Repo - ${globalThis.page.title}</title>
    <meta name="description" content="Luke's Test Repo" />
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Micro+5&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    route is ${globalThis.page.route}
    <sp-theme class="spectrum-Typography">
      <main>
        <page-outlet></page-outlet>
      </main>
    </sp-theme>
  </body>
</html>
