<!doctype html>
<html
  lang="en"
  class="spectrum spectrum-medium spectrum-light spectrum-Typography"
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Luke's Minimal Reproductions - ${globalThis.page.title}</title>
    <meta name="description" content="Minimal Reproductions" />
    <link rel="stylesheet" href="/styles/global.css" />
  </head>
  <body>
    <main>
      <page-outlet></page-outlet>
    </main>
  </body>
</html>
