<html lang="en" dir="ltr" class="spectrum spectrum--medium spectrum--light">
  <head>
    <link
      rel="stylesheet"
      href="/node_modules/@spectrum-css/tokens/dist/index.css"
    />
    <link
      rel="stylesheet"
      href="/node_modules/@spectrum-css/typography/dist/index.css"
    />
    <link
      rel="stylesheet"
      href="/node_modules/@spectrum-css/page/dist/index.css"
    />
    <link
      rel="stylesheet"
      href="/node_modules/@spectrum-css/icon/dist/index.css"
    />
    <link rel="stylesheet" href="/styles/linktags.css" />
  </head>
  <body class="spectrum-Typography">
    <content-outlet></content-outlet>
  </body>
</html>
